*{
    margin: 0;
    padding: 0;
}

#contd{
    width: 500px;
    height: 300px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: gold;
    font-style: italic;
    margin-left: 300px;
    margin-top: 20px;
    /* background-color: darkgray; */
    padding: 70px;
    
}
#img{
    background-image: url(7.JPEG);
    background-size: contain;
}
#img h1{
    color: black;
    font: 100px;
    font-weight: bold;
    animation: move 3s ease-in-out infinite;
}
@keyframes move {
    0%{
        transform: translateX(-600px);
    }

    100%{
        transform: translateX(700px);
    }
}
#contd h2{
    /* margin-top: 100px; */
    text-align: center;
    padding: 30px;

}
.boat{
    width: 200px;
    border-radius: 20px;
    background-color: green;
    color: white;
    margin-left: 500px;
    
    
}